bottleneck
brotlicffi
brotlipy
chardet
conllu
datasets
emoji
hydra-optuna-sweeper
lxml
mkl-fft
mkl-random
mkl-service
mlflow
more-itertools
munkres
nlpaug
numexpr
olefile
openpyxl
pip-chill
pipreqs
py7zr
pyopenssl
pysocks
pytest
seaborn
sentencepiece
setuptools-scm
sklearn
torchaudio
torchvision
tornado
transformers
